@model IEnumerable<St10375622Part2.Models.FileDocument>

@{
	ViewData["Title"] = "Index";
}

<style>
	h2 {
		text-align: center;
		margin-top: 50px;
		padding: 10px;
		border-bottom: 1px solid #ccc;
	}

	th, td {
		padding: 15px;
		text-align: left;
	}

	label {
		border: 1px solid #ccc;
		padding: 10px;
		display: block;
		margin-top: 10px;
	}

	input {
		width: 100%;
		padding: 10px;
		margin-top: 10px;
	}
</style>

<h1>Index</h1>

<p>
	<a asp-action="UploadFile">Upload File</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.LecturerName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FileName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.LecturerName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FileName)
				</td>
				<td>
					<a asp-action="DeleteFile" asp-route-id="@item.FileId">Delete</a>
				</td>
				@* <td>
			<a asp-action="DownloadFile" asp-route-id="@item.Id">Download</a> |
			<a asp-action="DeleteFile" asp-route-id="@item.Id">Delete</a>
			</td> *@
			</tr>
		}
	</tbody>

