@model IEnumerable<St10375622Part2.Models.LecturerClaim>

@{
	ViewData["Title"] = "Index";
}

<h1>Past Claims</h1>

<p>
	<a asp-action="Create">Create New</a>
	</p>

<div class="container group">
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">@Html.DisplayFor(modelItem => item.LecturerName)</h3>
                            <p><strong>Hours Worked:</strong> @Html.DisplayFor(modelItem => item.HoursWorked)</p>
                            <p><strong>Hourly Rate:</strong> @Html.DisplayFor(modelItem => item.HourlyRate)</p>
                            <p><strong>Notes:</strong> @Html.DisplayFor(modelItem => item.AdditionalNotes)</p>
                            <p><strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)</p>

                            <!--only the Academic manager and the programme coordinator can change the status-->
                            @if (User.IsInRole("Academic Manager") || User.IsInRole("Programme Coordinator"))
                            {
                                <div class="mt-2">
                                    <a href="@Url.Action("Reject", new { id = item.ClaimId })" class="btn btn-danger btn-sm">Reject</a>
                                    <a href="@Url.Action("Approve", new { id = item.ClaimId })" class="btn btn-success btn-sm">Approve</a>
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No claims found.</p>
    }
</div>